<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="akeneo_connector_attribute_get_configuration_add_before">
        <observer name="custom_entity_attribute_type"
                  instance="Smile\CustomEntityAkeneo\Observer\Connector\Helper\Attribute\AddCustomEntityTypeObserver" />
    </event>
</config>
